<div class="container p-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-lg-2">Select</h4>
        </header>
        <article class="card-body">
          <div class="col">
            <a class="btn btn-primary btn-block" routerLink="/electronic-equipment/list">Display all electronics</a>
            <a class="btn btn-primary btn-block" routerLink="/electronic-equipment/add">Add new electronic</a>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>

