<div class="container p-4" xmlns="http://www.w3.org/1999/html">
  <div class="row justify-content-around">
    <div class="col-md-6 align-self-center">
      <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Add electronic</h4>
        </header>
        <article class="card-body">
          <form (ngSubmit)="onSubmit()" [formGroup]="electronicAddForm">
            <div class="col form-group">
              <label for="name">Name</label>
              <input [ngClass]="{ 'is-invalid': submitted && field.name.errors }" class="form-control" formControlName="name" id="name"
                     type="text"/>
              <div *ngIf="submitted && field.name.errors" class="invalid-feedback">
                <div *ngIf="field.name.errors.required">Name is required</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="category">Category</label>
              <select class="custom-select" formControlName="categoryEnum" id="category">
                <option *ngFor="let key of keys" [value]="categories[key]">{{categories[key]}}</option>
              </select>
            </div>
            <div class="col form-group">
              <label for="producer">Producer</label>
              <input [ngClass]="{ 'is-invalid': submitted && field.producer.errors }" class="form-control" formControlName="producer" id="producer"
                     type="text"/>
              <div *ngIf="submitted && field.producer.errors" class="invalid-feedback">
                <div *ngIf="field.producer.errors.required">Producer is required</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="identifier">Identifier</label>
              <input [ngClass]="{ 'is-invalid': submitted && field.identifier.errors }" class="form-control" formControlName="identifier" id="identifier"
                     type="text"/>
              <div *ngIf="submitted && field.identifier.errors" class="invalid-feedback">
                <div *ngIf="field.identifier.errors.required">Identifier is required</div>
              </div>
            </div>
            <div class="col form-group">
              <label for="color">Color</label>
              <input [ngClass]="{ 'is-invalid': submitted && field.color.errors }" class="form-control" formControlName="color" id="color"
                     type="text"/>
              <div *ngIf="submitted && field.color.errors" class="invalid-feedback">
                <div *ngIf="field.color.errors.required">Color is required</div>
              </div>
            </div>
            <div class="form-group text-center">
              <label class="form-check form-check-inline">
                <input class="form-check-input" formControlName="repairStatusEnum" id="broken" name="repairStatusEnum" type="radio" value="BROKEN">
                <span class="form-check-label">BROKEN</span>
              </label>
              <label class="form-check form-check-inline">
                <input class="form-check-input" formControlName="repairStatusEnum" id="repaired" name="repairStatusEnum" type="radio" value="REPAIRED">
                <span class="form-check-label">REPAIRED</span>
              </label>
            </div>
            <div class="d-flex justify-content-center">
              <div (click)="addParameter()" class="btn btn-warning btn-block col-6 mb-4">Add new parameter</div>
            </div>
            <div class="col" formArrayName="parameters">
              <div *ngFor="let parameter of parameters.controls; let i=index">
                <div [formGroupName]="i">
                  <label>Parameter</label>
                  <input class="form-control" formControlName="parameter" type="text">
                  <label>value</label>
                  <input class="form-control" formControlName="value" type="text">
                  <p class="d-flex justify-content-center">
                    <button (click)="removeParameter(i)" class="btn btn-danger btn-block my-2 col-3">Remove</button>
                  </p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Save</button>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>
</div>
